* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

/*=== header ===*/

header {
	background-color: #1d1c56;
}

header img {
	padding: 15px 0px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 35px 24px;
	transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255, 0.5);
}

/* === HERO === */

.hero-section img {
	width: 400px;
}


.hero-container {
	display: flex;
	/*to center flexed items top/bottom */
	align-items: center;
	/*to center items left/right*/
	width: 90%;
	max-width: 1000px;
	margin: auto;
	justify-content: space-between;
}
.hero-section {
	margin: 100px 0px;
}

.hero-section h2 {
	font-size: 36px;
	line-height: 55px;
}

.hero-section p {
	color: #727272;
	font-size: 18px;
	line-height: 45px;
}

/* === FOOTER === */

footer div {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	padding: 80px 0px;
	background-color: #393939;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
	.hero-container {
		flex-direction: column;
	}
	.hero-container div {
		text-align: center;
	}



}
