* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	/*Using the default font size of browsers (16px)*/
	font-size: 100%;
}

/*=== header ===*/

header {
	background-color: #1d1c56;
}

header img {
	padding: 1rem 0rem;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 2rem;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	padding: 2rem 1.5rem;
	transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255, 0.5);
}

/* === HERO === */

.hero-section {
	height: 50vh;
	display: flex;
	/*to center flexed items top/bottom */
	align-items: center;
}

.hero-section img {
	/*400px image*/
	width: 25rem;
}


/* === SEARCHBOX -> PRODUCTS === */

.search-div {
	text-align: center;
}
.search-div button {
	font-size: 1.5rem;
}
.search-div input {
	font-size: 1.5rem;
}

/* === PRODUCTS === */

.products-grid {
	height: 50vh; 
}




.hero-container {
	display: flex;
	/*to center flexed items top/bottom */
	align-items: center;
	/*to center items left/right*/
	width: 90%;
	max-width: 1000px;
	margin: auto;
	justify-content: space-between;
}
.hero-section {
	margin: 5rem 0px;
}

.hero-section h2 {
	font-size: 2rem;
	line-height: 4rem;
}

.hero-section p {
	color: #727272;
	font-size: 1rem;
	line-height: 2rem;
}

/* === FOOTER === */

footer div {
	height: 50vh;
	/*to center text vertically (use same as height value)*/
	line-height: 50vh;
	text-align: center;
	font-size: 1rem;
	color: #ffffff;
	background-color: #393939;
	margin: auto;
}


/* MEDIA QUERIES */

@media (max-width: 1000px) {
	.hero-container {
		flex-direction: column;
	}
	.hero-container div {
		text-align: center;
	}

	/* So image want touch text when flexing vertically*/
	.hero-section h2 {
		padding-top: 2rem;
	}

	.hero-container img {
		order: -1;
	}
}

@media (max-height: 720px) {
	.hero-section {
		height: 720px;
	}
	footer div {
		height: 400px;

	}

}

@media (max-width: 710px) {
	nav {
		display: none;
	}

	.nav-toggle .one,.two,.three {
		background-color: white;
		height: 5px;
		width: 100%;
		margin: 6px auto;

		transition-duration: 0.3s;
	}

	.nav-toggle {
		width: 40px;
		height: 30px;
		margin-right: 20px;
	}

	.nav-section.on {
		/*width 100vw and height 100vh to take the view width and height. Using
		position absolute to remove from the documento flow and position top, left
		because thats where the html elements start its position from.
		*/
		position: fixed;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		background-color: rgba(29,28,86,0.9);
		/*to keep the background element on top of everything else*/
		z-index: 10;

		/*to center nav*/

		display: flex;
		justify-content: center;
		align-items: center;


	}

	.nav-section.on nav {
		display: block;
	}

	.nav-section.on .nav-toggle {
		position: absolute;
		right: 15px;
		top: 25px;
	}

	/*menu appearance -> 3 bars to x shape*/
	.nav-section.on .nav-toggle .one {
		transform: rotate(45deg) translate(7px, 7px);
	}
	.nav-section.on .nav-toggle .two {
		opacity: 0;
	}
	.nav-section.on .nav-toggle .three {
		transform: rotate(-45deg) translate(8px, -9px);
	}

	/* nav items to vertical display*/
	.nav-section.on nav ul {
		text-align: center;
		display: block;
	}

	.nav-section.on nav ul a {
		transition-duration: 0.5s;
		font-size: 3rem;
		line-height: 8rem;
		display: block;
	}

}

@media (max-width: 410px) {
	.hero-container img {
		width: 100vw;
	}

	.hero-section h2 {
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-bottom: 1rem;
	}

	.hero-section p {
		font-size: 0.8em;
		line-height: 1rem;
	}
}
